[submodule "packages/bpmn2-spec"]
	path = packages/bpmn2-spec
	url = https://github.com/secret344/bpmn2.0-spec.git
[submodule "packages/bpmn-moddle"]
	path = packages/bpmn-moddle
	url = https://github.com/secret344/bpmn-moddle.git
[submodule "packages/bpmn-js"]
	path = packages/bpmn-js
	url = https://github.com/secret344/bpmn-js.git
[submodule "packages/LogicFlow"]
	path = packages/LogicFlow
	url = https://github.com/didi/LogicFlow.git
